<%= form_for photo, :remote => true, :html => {:class => "form-inline", :id => "descform-#{photo.id}"} do |f| %>
  <div class="form-group">
    <%= f.text_area :description, :class=> "form-control" %>
    <%= button_tag "Cancel", :class => "btn btn-default", :html => {:id => "cancel-button-#{photo.id}"} %>
    <%= f.submit "Comment", :class => "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("#cancel-button-<%= photo.id %>").on("click", function(e) {
    $("#descform-<%= photo.id %>").trigger("reset");

    $("#photo-<%= @photo.id %> .desc").html("<p><%= @photo.description %></p>");
  });
</script>