<div class="row">
  <div class="col-md-12">
    <%= link_to "New Photo", new_photo_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="row photo-shower">
  <div class="col-md-12 showroom">

    <% @photos.each do |photo| %>
      <div class="row photo-holder">

        <div class="col-md-3">
          <%= image_tag photo.user.image, :class => "user-avatar pull-right" %>
          <p class="pull-right">
            <%= link_to photo.user.name, user_path(photo.user) %> Posted at <%= photo.created_at.to_s(:short) %>
          </p>
        </div>

        <div class="col-md-5 photo-main" id="photo<%= photo.id %>">
          <%= link_to photo_path(photo.id) do %>
            <%= image_tag photo.image(:medium), :class => "index" %>
          <% end %>

          <% if photo.likes.any? %>
            <div class="like">
              <span class="glyphicon glyphicon-heart"></span>
              <% photo.likes.each do |user| %>
                <%= link_to user.name, user_path(user) %>
              <% end %>
            </div>
          <% end %>

          <% if photo.description %>
            <div class="desc">
              <p>
                <%= photo.description %>
              </p>
            </div>
          <% end %>

          <div class="comments">

            <%= form_for [photo, @comment], :remote => true, :html => {:class => "comment-form form-inline", :id => "comment-form#{photo.id}"} do |f| %>
              <div class="form-group">
                <%= f.text_field :content, :class=> "form-control" %>
                <%= f.submit "Comment", :class => "btn btn-primary" %>
              </div>
            <% end %>

            <table class="table table-striped table-bordered" id="comments-<%= photo.id %>">
              <% photo.comments.each do |c| %>
                <tr>
                  <td>
                    <%= link_to user_path(c.user) do %>
                      <%= image_tag c.user.image, :class => "user-avatar-sm pull-left" %>
                    <% end %>
                    <p><%= c.content %></p>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

        </div>

        <div class="col-md-4">
          <% photo.tags.each do |t| %>
            <span class="badge"><%= t.name   %></span>
          <% end %>
        </div>

      </div>


    <% end %>
  </div>
</div>


