<h1>Show Image</h1>

<div class="viewer">
  <%= image_tag @photo.image.url %>
  <%= image_tag @photo.image.url(:medium) %>
  <%= image_tag @photo.image.url(:thumb) %>
</div>

<p><%= @photo.description %></p>
<%= link_to "Edit", edit_photo_path, :class => "btn btn-primary" %>

<% if @photo.user == current_user %>
  <%= link_to "Delete", photo_path(@photo), :method => "delete", :data => { :confirm => "Are you sure to delete?" }, :class => "btn btn-danger" %>
<% end %>

<% if @photo.liked_by?(current_user) %>
  <%= link_to "Unlike", photo_unlike_path(@photo), :class => "btn btn-default" %>
<% else %>
  <%= link_to "Like", photo_like_path(@photo), :class => "btn btn-default" %>
<% end %>

<div class="user-liked">
  Liked by:
  <% @photo.likes.each do |li| %>
    <%= li.user.name %>
  <% end %>
</div>