<tr id="comment-<%= photo.id %>-<%= c.id %>">
  <td>
    <%= link_to user_path(c.user) do %>
      <%= image_tag c.user.image, :class => "user-avatar-sm pull-left" %>
    <% end %>
    <p><%= c.content %></p>

    <% if current_user && current_user == c.user %>
      <%= link_to "Delete", photo_comment_path(photo, c), :method => "delete", :remote => true, :class => "btn btn-xs btn-danger pull-right" %>
    <% end %>
  </td>
</tr>
